# DSCI GROUP PROJECT: (title)

## Question
**Broad Question**: “What player characteristics and behaviours are most predictive of 
subscribing to a game-related newsletter, and how do these features differ between various player types?”\
**Specific Question**: Can age and played_hours  predict if a player is subscribed in 
the players data set?\
\
→ Maybe rephrased it to...\
Can variables, age and played_hours in players.csv data set, predict if a player subscribes the news letter?"

`subscribe`: It has TRUE/FALSE statements. TRUE for those who subscribe the news settler:FALSE for those who do NOT subscribe the news letter.

CODE:

In [2]:
library(tidyverse)

In [3]:
players <- read_csv("players (3).csv")
head(players)


url <- "  "
sessions <- read_csv(url)
head(sessions)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [6]:
players_select <- players|>
    select(subscribe, played_hours, Age)
head(players_select)

  subscribe played_hours Age
1  TRUE     30.3          9
2  TRUE      3.8         17
3 FALSE      0.0         17
4  TRUE      0.7         21
5  TRUE      0.1         21
6  TRUE      0.0         17

In [10]:
players_separated <- players_select |>
  mutate(
    played_hours = as.numeric(played_hours),
    age = as.numeric(Age))
mean_values <- players_separated |>
  summarise(
    mean_played_hours = mean(played_hours, na.rm = TRUE),
    mean_age = mean(age, na.rm = TRUE))
mean_values

  mean_played_hours mean_age
1 5.845918          20.52062

## Mean Value Calculation

In [4]:
players_mean <- players |>
                select(played_hours, Age) |>
                map_df(mean, na.rm=TRUE)
players_mean

  played_hours Age
1 5.845918     20.52062

In [ ]:
sessions_mean <- sessions |>
                select(original_start_time, original_end_time) |>
                map_df(mean, na.rm=TRUE)
sessions_mean

**Justification that using players.csv is suitable to answer the specific question.**

## Exploratory Data Analysis and Visualization

In [5]:
#Before making cool graphs, we want to start from very basic graph to see if there is any trend.